/* -----Personalização geral----- */

* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    padding: 0px 7vw;
    background: linear-gradient(90deg, #02cf5e 0%, #006A31 100%);
}

.header img {
    padding: 12.5px 0px;
    height: 11vh;
}

.header h1 {
    padding: 40px 0px;
    width: auto;
    color: #FFF;
    font-family: Inter;
    font-size: 5vh;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 25vw;
    margin: 0px;
    height: 4vh;
    flex-shrink: 0;
    background: #33CAFA;
}

h3 a {
    text-decoration: none;
    color: #FFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vh;
    min-height: 59.27px;
    font-style: normal;
    font-weight: 500;
}

@media only screen and (max-width: 430px) {

    /* config mobile header */

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 7vh;
        padding: 0px 7vw;
        background: linear-gradient(90deg, #02cf5e 0%, #006A31 100%);
    }

    .header img {
        padding: 12.5px 0px;
        height: 5vh;
    }

    .header h1 {
        padding: 40px 0px;
        width: auto;
        color: #FFF;
        font-family: Inter;
        font-size: 2.5vh;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .header-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        margin: 0px;
        height: 4vh;
        background: #33CAFA;
    }

    h3 a {
        text-decoration: none;
        color: #FFF;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.7vh;
        font-style: normal;
        font-weight: 200;
    }

    /* config mobile home */

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    main {
        display: grid;
    }

    main .intro {
        display: grid;
        justify-content: center;
        grid-template-columns: 45vh 0vh 0vh;
        grid-template-rows: 5vh 0.5fr 30vh;
        column-gap: 0vh;
        row-gap: 2vh;
    }
    
    main .gridtitle {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    main .introtitlename {
        font-size: 2.5vh;
        margin-left: 2vw;
        padding: 2vw 0px 0px 0px;
    }
    
    main .intro img {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 80vw;
        border-radius: 20px;
    }
    
    main .introtxt1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
        text-indent: 1em;
        padding: 30px;    
    }

    /* config mobile footer */

    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7e7e7e;
        color: #fff;
        height: 5vh;
        flex-shrink: 0;
    }
    
    footer div .footertext {
        font-size: 1.7vh
    }

    /* config mobile services */

    main .services {
        font-size: 30px;
        margin-left: 20px;
        padding: 20px 0px 0px 0px;
    }
    
    main .gridservices {
        display: grid;
        grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 80vw 0vw;
        justify-content: center;
        align-content: center;
        row-gap: 5vw;
        column-gap: 0px;
        padding: 0px 0px 100px 0px;
    }
    
    main .titlegridservices {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    main .square1{
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    main .square2{
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    main .square3{
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    main .square4{
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    main [class*="square"] {
        width: 80vw;
        height: 80vw;
        border-radius: 33px;
        background: #00ea6b;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
    }
    
    main [class*="img"] {
        width: 69vw;
        border-radius: 33px;
    }
    
    main .stylefont {
        text-align: center;
        font-size: 3vh;
    }

    /* config mobile crew */

    main .gridequipe {
        padding: 0vh 0px 5vh 0px;
        justify-content: center;
        display: grid;
        grid-template-columns: 30vw 60vw 0vw;
        grid-template-rows: 7vh 1fr 1fr 1fr;
        column-gap: 3vw;
        row-gap: 3vh;
    }

    main .titlegrid {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    main .titlename {
        font-size: 30px;
        margin-left: 20px;
        width: 90vw;
        padding: 20px 0px 0px 0px;
    }
    
    main .txt1,
    main .txt3,
    main .txt2 {
        overflow: hidden;
        text-align: left;
        justify-content: center;
        align-content: flex-end;

        margin-left: 2vw;
        margin-bottom: 8%;
        row-gap: 1.5vw;
        font-size: 4vw;
    }
    
    body .mainequi div {
        display: grid;
    }

    main [class*="imed"] {
        border-radius: 15px;
    }

    main .imed1 {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        height: 40vw;
        width: 30vw;
    }

    main .imed2mob {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        height: 40vw;
        width: 30vw;
    }

    main .imed2 {
        display: none;
    }

    main .imed3 {
        grid-column-start: 1;
        grid-row-start: 4;
        grid-row-end: 4;
        height: 40vw;
        width: 30vw;
    }

    main .txt1 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    main .txt2 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    
    main .txt3 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    
    /* config mobile contact */
    body main div {
        display: grid;
    }
    
    main .gridcontact {
        display: grid;
        grid-template-columns: 0fr 1fr 0fr;
        grid-template-rows: 7vh 1fr 70vh;
        row-gap: 5vh;
    }
    
    main .contacttitlename {
        grid-column:1/3;
        display: flex;
        font-size: 2vh;
        margin-left: 3vw;
        padding: 2.5vh 0vw 0vh 0vw;
    }
    
    main .location-map {
        width: 100%;
        grid-column: 1/3;
    }
    
    main .filial {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    main .filialtitle {
        padding: 0vh 0px 5px 0px;
        margin-left: 5vw;
    }
    
    main .filial h3 {
        padding: 4vh 0vw 2vh 0vw;
        text-align: center;
    }
    
    main .filial p {
        overflow: visible;
        height: fit-content;
        padding-bottom: 1vh;
        text-align: center;
    }
    
    main [class*="cidade"] {
        display: grid;
        grid-template-columns: 80vw;
        grid-template-rows: 5vh 5vh 9vh;
        padding: 0px 20px 0px 20px;
        margin: 0px 0px 0px 0px;
    }
    
    main .filial input {
        background-color: #006A31;
        border-style: none;
        padding: 2px;
        margin: 10px 20px;
        width: 140px;
        height: 40px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        color: #FFF;
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1 0 auto;
}

.footerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7e7e7e;
    color: #fff;
    height: 5vh;
    flex-shrink: 0;
}

.footertext {
    font-size: 1.7vh
}

/* -----Começo da personalização do home----- */

.intro {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 400px;
    grid-template-rows: 50px 200px;
    column-gap: 20px;
    row-gap: 20px;
}

.gridtitle {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.introtitlename {
    font-size: 30px;
    margin-left: 20px;
    padding: 20px 0px 0px 0px;
}

.intro img {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    padding: 5px;
}

.introtxt1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-indent: 1em;
}


/* -----Começo da personalização do services----- */

.services {
    font-size: 30px;
    margin-left: 20px;
    padding: 20px 0px 0px 0px;
}

.gridservices {
    display: grid;
    grid-template-rows: 50px 300px 300px;
    grid-template-columns: 340px 340px;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 0px 0px 100px 0px;
}

.titlegridservices {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

[class*="square"] {
    width: 340px;
    height: 300px;
    border-radius: 33px;
    background: #00ea6b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

[class*="img"] {
    width: 300px;
    border-radius: 20px;
}

.stylefont {
    text-align: center;
    font-size: 3vh;
}


/* -----Começo da personalização do crew----- */

.titlegrid {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.titlename {
    font-size: 30px;
    margin-left: 20px;
    padding: 20px 0px 0px 0px;
}

.gridequipe {
    padding: 0vh 0px 5vh 0px;
    justify-content: center;
    display: grid;
    grid-template-columns: 127.59px 400px 127.59px;
    grid-template-rows: 50px 170px 170px 170px;
    column-gap: 20px;
    row-gap: 20px;
}

.txt1,
.txt3 {
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    margin-left: 20px;
    row-gap: 5px;
}

.txt2 {
    overflow: hidden;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    margin-right: 20px;
    row-gap: 5px;
}

[class*="imed"] {
    height: 170px;
    border-radius: 15px;
}

@media only screen and (min-width: 431px){
    main .imed2mob {
        display: none;
    }
}

/* -----Começo da personalização do contact----- */

.gridcontact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 500px 500px;
    row-gap: 20px;
    justify-content: center;
}


.contacttitlename {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-column: 1/4;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 30px;
    margin-left: 20px;
    padding: 20px 0px 0px 0px;
}

.location-map {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.filial {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column: 1/4;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filialtitle {
    padding: 10px 0px 20px 0px;
}

.filial h3 {
    padding: 0px 0px 0px 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.filial p {
    overflow: visible;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-top: 1%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.filial input{
    grid-row: 1/3;
    width: 140px;
    height: 50px;
    margin: 25px 20px
}

[class*="cidade"] {
    margin: 0px 0px 0px 10px;
    display: grid;
    grid-template-columns: 35vw 180px;
    grid-template-rows: 50px 50px;
    padding: 0px 10px 20px 20px;
}



input {
    background-color: #006A31;
    border-style: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}